footer {
    background-color: #171717;
    height: 36rem;
    background-image: url(./../img/Ellipse.png);
    background-repeat: no-repeat;
    background-position: center;
    .container {
        .check-boxes {
            margin-top: 3rem !important;
            justify-content: center;
            margin: auto;
            display: flex;
            .d-flex {
                align-items: center;
                p {
                    margin: 0;
                    color: grey;
                }
                input {
                    width: 3rem;
                    margin: 0;
                    background: none !important;
                    margin-left: -1rem;
                    background-color: transparent;
                }
            }
            .btn {
                align-self: end;
                width: 50px !important;
                height: 50px !important;
                border-radius: 2rem;
                margin-left: 1.5rem;
            }
        }
        width: initial !important;
        position: relative;
        color: white;
        .head {
            padding-top: 2.5rem;
            display: flex;
            justify-content: space-between;
            h3 {
                font-size: 3rem;
                font-weight: 700;
                align-self: end;
            }
        }
        .send {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 4rem;
            .inputs {
                width: 100%;
                #name-email {
                    width: fit-content;
                }
            }
            input,
            textarea {
                border: none;
                background: none;
                border-bottom: 1px solid white;
                font-size: 1.5rem;
                width: 25rem;
                color: white;
                margin: 1.5rem 0;
            }
            textarea {
                resize: none;
                height: 8rem;
            }
            .message-box {
                display: flex;
                input {
                    padding-bottom: 5.6rem;
                }
            }
        }
    }
}